<nav style="min-height: 76px;" class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <div class="container-fluid">
        <div class="justify-content-start col-12">
            <div class="row">
                <div class="col-9">
                    <a style="font-size: 18px;" class="navbar-brand" routerLink="home"><b>Brujería Hechizos Amarres</b></a><br>
                    <span style="font-size: 18px; padding-left: 30px;"><b>(+57) 3118786020</b></span>
                </div>
                <div class="col-3" style="text-align: right; align-self: center;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-2"
            aria-controls="navbarSupportedContent-2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                </div>
            </div>
            
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-2">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li routerLinkActive="activo" class="nav-item">
                        <a class="nav-link" routerLink="home">Inicio</a>
                    </li>
                    <li routerLinkActive="activo" class="nav-item">
                        <a class="nav-link" routerLink="terminos">TERMINOS DE USO</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" style="position: absolute; right: 0; padding-right: 1em;" id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" routerLink="home">Inicio</a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link" routerLink="terminos">TERMINOS DE USO</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>