<app-section-home></app-section-home>
<app-section-card></app-section-card>
<app-section-article></app-section-article>
<div class="container-fluid about-us px-5 pb-5" style="background-color: #272727;">
    <h1 class="text-center text-light">
        NUESTRO SERVICIO
    </h1>
    <p class="text-light pb-5" style="text-align: center; margin: 0;">
        Te ayudamos a curar enfermedades muy difíciles, con síntomas extraños, energías malignas y negativas. Trabajo
        con magia blanca, vudú, santería y utilizamos magia gris para limpiar su energía, conseguir trabajo y aumentar
        las ventas de su negocio. No permitas que esa persona con la cual has desarrollado un proyecto de vida, se aleje
        de tu lado por influencias negativas que solo desean causar daño por envidia o provecho propio. Hacemos Rituales
        con tabaco con los cuales usted podría tener mejoras en varios aspectos como la prosperidad en el dinero,
        protección, suerte, amor y dominio a tu pareja.
    </p>
</div>
<div class="container-fluid px-5 pt-5">
    <p class="text-center" style="font-size: 16px;">
        “NINGUNO DE LOS RESULTADOS PUEDEN GARANTIZARSE UN 100%, TODOS LOS RESULTADOS PUEDEN VARIAR DE PERSONA A PERSONA”
        SU CONSULTA SERÁ ATENDIDA COMPLETAMENTE GRATIS, EN CASO QUE USTED REQUIERA DE NUESTROS SERVICIOS EL VALOR DEL
        MISMO DEPENDERÁ DE LAS CARACTERÍSTICAS, COMPLEJIDAD, TIEMPO DE EJECUCIÓN Y TIPOLOGÍA DEL MISMO DE MANERA QUE EL
        VALOR DEL SERVICIO SOLICITADO VA DE ACUERDO A SUS NECESIDADES Y EL VALOR DEL MISMO LE SERÁ INFORMADO CON
        CLARIDAD PARA SU RESPECTIVA APROBACIÓN, A SU VEZ EL SERVICIO SERÁ CANCELADO DESPUÉS DE OBTENER RESULTADOS, LOS
        MÉTODOS DE PAGO VIGENTES SON TRANSFERENCIA Y/O CONSIGNACIÓN BANCARIA Y GIROS.
    </p>
    <h5 class="pt-5 text-center pb-5">
        <a target="_blank" href="http://api.whatsapp.com/send?phone=573118786020">
            <img src="../../../assets/img/aside.jpg">
        </a>
    </h5>
</div>
<div class="container-fluid px-5 pb-5" id="testimonio">
    <h1 class="text-center text-light mt-5 pt-5">
        TESTIMONIOS
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div id="client-feedbacks" class="owl-carousel owl-theme ">
                <span id="zerif_testim-widget-2" class="feedback-box">
                    <div class="message">
                        Buenos días mi nombre es MARTHA GÓMEZ de Miami y en este momento vengo a dar mi testimonio en
                        agradecimiento a los maestros por que ahora sé que es real, ya que yo tenia problemas con mi
                        esposo nos habíamos separado y los llame a ustedes y me arreglaron mi vida. Además recibí una
                        bendición económica de 8 millones gracias a los maestros, que Dios los siga bendiciendo para que
                        sigan ayudando a muchas personas mas, y los invito a que comprueben con sus propias experiencias
                        de vidas.
                    </div>
                    <div class="client">
                        <div class="quote red-text">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="client-info">
                            <a target="_blank" class="client-name">
                                MARTHA GÓMEZ
                            </a>
                        </div>
                        <div id="persona-1" class="client-image hidden-xs"></div>
                    </div>
                </span>
                <span id="zerif_testim-widget-3" class="feedback-box">
                    <div class="message">
                        Me llamo GEORGE DAZA y les escribo porque estoy muy conforme con ustedes debido a que mi vida
                        estaba destruida mi esposa se había ido hace dos años, mi esposa ya regreso hace 8 dias yo
                        todavía no lo puedo creer el cambio que ella tenido con migo y con mis hijas gracias a los
                        hermanos estoy muy feliz.
                    </div>
                    <div class="client">
                        <div class="quote red-text">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="client-info">
                            <a target="_blank" class="client-name">
                                GEORGE DAZA
                            </a>
                        </div>
                        <div id="persona-2" class="client-image hidden-xs"></div>
                    </div>
                </span>
                <span id="zerif_testim-widget-5" class="feedback-box">
                    <div class="message">
                        Buenas tardes mi nombre es DANIEL OCHOA y la verdad no creía estar en estas cosas pero la
                        curiosidad no me dejo y los llame, mi madre tenia cáncer de seno y gracias a ellos y a DIOS ella
                        fue sanada después de el tratamiento la llevamos a la clínica y no le encontraron nada. El dia
                        de hoy quiero decirles a todas las personas que están sufriendo que no duden en comunicarse con
                        ellos brindan una gran ayuda de verdad. Mil gracias maestros, que dios los bendiga.
                    </div>
                    <div class="client">
                        <div class="quote red-text">
                            <i class="fa fa-quote-left"></i>
                        </div>
                        <div class="client-info">
                            <a target="_blank" class="client-name">
                                DANIEL OCHOA
                            </a>
                        </div>
                        <div id="persona-3" class="client-image hidden-xs"></div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
<app-section-footer></app-section-footer>