<div class="container-fluid">
    <h1 class="text-center mt-5 pt-5">
        QUIENES SOMOS
    </h1>
    <p style="text-align: center;">
        Somos un grupo de profesionales maestros de las ciencias ocultas, mentalistas, espiritistas y videntes que ponen
        a tu disposición sus dones y por medio de una consulta donde identificaremos cuáles son las necesidades que te
        aquejan en la vida amorosa, laboral, salud y personal. ESTAS PASANDO POR UNA ETAPA DIFÍCIL EN TU VIDA?
        Ayudaremos a que puedas atraer a tu vida el amor, trabajo, negocios, salud, suerte. LA PERSONA QUE QUIERES A TU
        LADO TE RECHAZA, O DESEAS ALEJAR A ALGUIEN? Te ayudaremos a descubrir quién o qué te perturba.
    </p>
    <section class="row justify-content-center mt-5 mb-5">
        <div class="card mx-2" style="width: 18rem;">
            <a target="_blank" href="http://api.whatsapp.com/send?phone=573118786020" id="card-rojo"
                class="service-icon">
                <img src="../../../assets/img/card-1.jpg" style="width:100%; height:100%; border-radius: 50%;"
                    alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">
                    ESTAS PASANDO POR UNA ETAPA DIFÍCIL EN TU VIDA?
                </h5>
                <hr class="hr-color-rojo">
                <p class="card-text text-center">
                    Ayudaremos a que puedas atraer a tu vida el amor, trabajo, negocios, salud, suerte.
                </p>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <a target="_blank" href="http://api.whatsapp.com/send?phone=573118786020" class="service-icon"
                id="card-verde">
                <img src="../../../assets/img/card-2.jpg" style="width:100%; height:100%; border-radius: 50%;"
                    alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">
                    LA PERSONA QUE QUIERES A TU LADO TE RECHAZA, O DESEAS ALEJAR A ALGUIEN?
                </h5>
                <hr class="hr-color-verde">
                <p class="card-text text-center">
                    Realizamos toda clase de rituales para que tu ser amado sea dominado y doblegado. Atraigo o aparto a
                    tú pareja no importa sexo ni distancia
                </p>
            </div>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <a target="_blank" href="http://api.whatsapp.com/send?phone=573118786020" class="service-icon"
                id="card-azul">
                <img src="../../../assets/img/card-3.jpg" style="width:100%; height:100%; border-radius: 50%;"
                    alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">
                    PADECES DE ALGUNA ENFERMEDAD QUE LOS MÉDICOS NO HAN LOGRADO CURAR?
                </h5>
                <hr class="hr-color-azul">
                <p class="card-text text-center">
                    Usamos nuestros dones de las ciencias ocultas a su favor.
                </p>
            </div>
        </div>
    </section>
</div>