<div class="container">
    <div class="about-us pt-5 px-5 mb-5 mt-5 pb-5">
        <div class="grid-about">
            <h1>
                TERMINOS DE USO
            </h1>
            <p>
                En www.brujeriahechizosamarres.com queremos aclarar que este sitio web es exclusivo para mayores de 18
                años en toda la República de Colombia y tendrá de acuerdo a las legislaciones vigentes como finalidad,
                el entretenimiento de personas adultas, mayores de edad y facultadas mentalmente para entender que en
                ningún caso la información aquí conferida reemplaza la debida atención médica, psicológica y/o jurídica
                que pueda requerir en cualquier caso.
            </p>
            <h2>
                Limitación de Responsabilidades
            </h2>
            <ul>
                <li>
                    Al navegar en este sitio Web el visitante declara que está de acuerdo con nuestros términos,
                    políticas y servicios prestados y la solicitud de los mismos se hará de forma voluntaria,
                    reconociendo que en cualquier caso siempre se entenderá que las videncias, magias, hechizos, lectura
                    de cartas y actividades esotéricas, son consideradas actividades con fines de entretenimiento,
                    esparcimiento y recreación dirigidas única y exclusivamente a mayores de 18 años de edad.
                </li>
                <li>
                    Los resultados de nuestros servicios pueden variar de una persona a otra, y no hay garantía bajo la
                    cual se pueda asegurar el éxito utilizando nuestros Servicios. Los servicios que se ofrecen en el
                    sitio son alternativas subjetivas y los resultados bajo ninguna circunstancia podrán asegurarse.
                </li>
                <li>
                    Al iniciar nuestra consulta en vivo con un metafísico en línea, usted acepta que tiene más de 18
                    años de edad.
                </li>
                <li>
                    El uso de uno o varios de los servicios ofrecidos en esta web queda a consideración del usuario. Si
                    acepta el servicio ofrecido por esta web estará sujeta a su propia interpretación y uso.
                </li>
            </ul>
            <h2>
                Política de Privacidad
            </h2>
            <ul>
                <li>
                    Por ningún motivo en este sitio web recolecta información personal de tratamiento sensible
                    (financiera, religiosa, tarjetas de crédito, privada, ni números de identificación). Los datos
                    solicitados se deben de entregar de manera voluntaria y que solo serán usados para darles uso a la
                    consulta o necesidad específica del usuario y prestarle un mejor servicio, en caso de que usted
                    desee reservar su nombre puede sustituirlo por un seudónimo. La información enviada vía email se
                    hará bajo la autorización de cada uno de los usuarios.
                </li>
                <li>
                    En ningún caso vendemos ni compartimos ningún tipo de información, siendo totalmente Confidencial.
                </li>
            </ul>
            <h2>
                Pago de servicios:
            </h2>
            <p>
                La consulta en vivo no tiene ningún costo, si una vez realizada la consulta usted se interesa por tomar
                algún servicio con nosotros, exija la orientación en el servicio al cliente para consultar los precios
                establecidos para su solicitud del servicio y así usted estará aceptando que es solo porque así lo
                requiere y que está totalmente de acuerdo con el trabajo, las practicas del mismo y el costo.
            </p>
            <h2>
                Garantía de Servicio:
            </h2>
            <ul>
                <li>
                    Si por alguna razón usted no está satisfecho con su experiencia, no dude en ponerse en contacto con
                    nosotros y con gusto le atenderemos para darle prioridad a sus dudas e inquietudes.
                </li>
                <li>
                    Si no queda satisfecho(a) con el trabajo realizado, le devolvemos el 100% de su dinero en un plazo
                    no mayor a lo estipulado por la ley, luego de realizada la solicitud formal. La devolución incluye
                    el costo de los materiales que se hayan utilizado para la prestación del servicio.
                </li>
            </ul>
            <h2>
                Información sobre los costos y pagos:
            </h2>
            <ul>
                <li>
                    Las consultas realizadas por nuestro formulario de contacto y el chat en vivo de nuestros guías no
                    tienen ningún costo, los precios varían según la necesidad y el proceso realizado.
                </li>
                <li>
                    El costo de la llamada y consulta es gratis. Los valores facturados serán los que
                    estipulados por su empresa de telefonía local o celular y serán ellos quienes efectúen el recaudo
                    por el mismo. Es importante aclarar que estas llamadas pueden aplicar un costo máximo de $200COP IVA
                    incluido, que solo serán cobrados por su operador.
                </li>
                <li>
                    Los costos pueden variar según el servicio, la persona puede aceptar los gastos o simplemente no
                    aceptar el servicio. Cada servicio dependerá de lo que el usuario y el consultor metafísico
                    determinen para realizar el trabajo; estos costos pueden oscilar en un rango de precios que van
                    desde los $300.000 COP hasta los $500.000 COP
                </li>
                <li>
                    Los costos se utilizan para los materiales del servicio solicitado por la persona.
                </li>
                <li>
                    Los resultados ante cada caso son probables y no existe certeza alguna de que ocurran, quien
                    consulte nuestra web y solicite nuestra asesoría deberá entender que cada persona es en sí misma
                    diferente y por tanto los resultados varían de una a otra.
                </li>
                <li>
                    Las predicciones, lectura de cartas, videncias psíquicas y los hechizos, tienen fines únicamente de
                    entretenimiento y ayuda personal que será brindada solo a mayores de 18 años, en acuerdo con las
                    legislaciones y normatividad actuales.
                </li>
                <li>
                    Todas las personas son diferentes, por tanto los resultados pueden variar de una persona a otra.
                </li>
            </ul>
        </div>
    </div>
</div>