<footer class="container-fluid" style="padding: 0;">
    <div class="col-12 pt-5 pb-5" style="padding-left: 6rem; padding-right: 6rem; text-align: center; background-color: #272727; color: #939393;">
        ADVERTENCIA
                Este sitio va dirigido exclusivamente a mayores de edad (18 años).
                De acuerdo con las legislaciones vigentes, se establece que las predicciones, videncias psiquicas,
                lecturas de cartas y hechizos tienen fines de entretenimiento y ayuda personal.
                Estos servicios no sustituiran la debida atención médica, legal, financiera, psicológica y psiquiátrica.
                Todas las personas son diferentes, por tanto los resultados pueden variar de una persona a otra.
                Los resultados ante cada caso son probables y no existe evidencia científica o eficacia de los mismos.
    </div>
</footer>